:root{
    --color-primary-1: #495e57;
    --color-primary-2: #f4ce14;
    --color-secondary-1: #ee9972;
    --color-secondary-2: #fbdabb;
    --color-highlight-1: #edefee;
    --color-highlight-2: #333;
  }

*{
  border:  1px solid #333;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Markazi Text', serif, 'Karla', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .Main {
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
} */

a{
    text-decoration: none;
    color: inherit;
  }

ul{
list-style: none;
}

/******************************************
  Buttons
*******************************************/
.Button{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }

/*---------------------------------
 Navigation Bar
/*---------------------------------*/

.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    padding: 10px 13%;
}

.navbar-logo{
    height: auto;
    width: 20vw;
    object-fit: cover;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--color-highlight-2);
    padding: 1em;
}

.burger-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
  display: none;
}

.navlinks {
  list-style: none;
  display: flex;
  align-items: center;
}


/******************************************
  Hero
*******************************************/
.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    padding: 10px 13%;
    background-color: var(--color-primary-1);
    color: var(--color-highlight-1);
}

.Hero-info{
    padding-right: 90px;
}

.Hero img{
    height: 325px;
    width: 375px;
    object-fit: cover;
    padding-left: 30px;
}

/******************************************
  Highlights
*******************************************/
.Highlights{
    display: grid;
    justify-content: space-between;
    padding: 10px 13%;
  }

.Highlights-Header{
    display: flex;
    justify-content: space-between;
}

.Highlights-Cards{
    display: flex;
    grid-gap: 2vw;
}

.Card{
    background-color: var(--color-highlight-1);
    border-radius: 15px 15px  0 0 ;
}
.Card img{
    height: 20vh;
    width: 23vw;
    object-fit: cover;
    border-radius: 15px 15px  0 0 ;
}
.Highlights h4{
    padding-left: 5px;
}

/******************************************
  Testimonials
*******************************************/

.Testimonials{
    justify-content: space-between;
    padding: 10px 13%;

}

.Testimonials h2{
  display: grid ;
  align-items: center;
  justify-content: center;
}

.Testi-Carousel{
  display: flex;
  flex-direction: row;
}
.Cardtest div{
  display: flex;
}

.Cardtest img{
  width: 15vw;
  height: 15vh;
  object-fit: cover;

}
/******************************************
  About
*******************************************/
.About{
    grid-column-start: 2;
    display: grid;
    justify-content: space-between;

}

/* ----------------------------------
    Footer
------------------------------------*/
.Footer{
    bottom: 0;
    width: 100%;
    height:279px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    list-style: none;
    background-color: var(--color-primary-1);
    color: var(--color-highlight-1);
    padding: 69px 0px;
    margin: auto;
  }

  .Footer img{
    height: 279px;
    width: 162px;
    object-fit: cover;
  }
  .Footer ul{
    font-weight: 600;
    padding: 0;
  }
  .Footer li{
    font-weight: 400;
  }

/******************************************
  Responsive
*******************************************/

@media screen and (max-width: 768px){

  .burger-icon {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navlinks {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navlinks.visible {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Hero img{
    display: none;
  }

  .Highlights-Cards{
    display: flex;
    flex-direction: column;
  }

  .Card img{
    height: 25vh;
    width: auto;
    object-fit: cover;
    border-radius: 15px 15px  0 0 ;
  }
}