:root{
  --color-primary-1: #495e57;
  --color-primary-2: #f4ce14;
  --color-secondary-1: #ee9972;
  --color-secondary-2: #fbdabb;
  --color-highlight-1: #edefee;
  --color-highlight-2: #333;

}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
  justify-items:auto;
}

*{
  border:  1px solid #333;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Markazi Text', serif, 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}
/* Top Bar */
.Navbar{
  float: none;
  display: grid;
  margin: auto;
  justify-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
}

.Navbar ul{
  display: flex;
  align-items: center;
}
.Navbar img{
  height: 76px;
  width: 202px;
  object-fit: cover;
}

.Navbar li{
  display: inline-block ;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  color: var(--color-highlight-2);
}

/******************************************
  Hero
*******************************************/
.Hero{
  display: flex;
  margin: auto;
  justify-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  height: 406px;
}

.Hero img{
  height: 325px;
  width: 375px;
  object-fit: cover;
}


/******************************************
  Highlights
*******************************************/
.Highlights{
  display: flex;
  margin: auto;
  justify-content: space-between;
}

/******************************************
  Button
*******************************************/
.Button{
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  height: 60px;
  width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}




/* Footer */
.Footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height:279px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  list-style: none;
  background-color: var(--color-primary-1);
  color: var(--color-highlight-1);
  padding: 69px 0px;
  margin: auto;
}

.Footer img{
  height: 279px;
  width: 162px;
  object-fit: cover;
}
.Footer ul{
  font-weight: 600;
  padding: 0;
}
.Footer li{
  font-weight: 400;
}
